
.searchbar{
    font-size: 0.8vw;
    width: 12vw;
    height: 2vw;
    border:2px solid #E9E9E9;
    border-radius: 5px;
    background: white;
    display: flex;
    justify-content: center;
    text-align: center;
}