// @import "../../utils/main.scss";

// .footer-container{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     background-color: #E34C51;
//     height: 100%;
//     min-height: 20vh;
//     padding: 0 8vw;
//     @media only screen and (max-width: $mobile-width) {
//         flex-direction: column;
//         justify-content:center;
//         min-height: 40vh;
//         padding: 0 10vw;
//     }
// }

// .about-container{
//     display: flex;
//     flex-direction: column;
//     // justify-content: center;
//     align-items: flex-start;
//     font-family: Kanit;
//     font-size: 1vw;
//     color: white;
//     font-weight: lighter;
//     .about-topic{
//         font-weight: bold;
//         margin-top: 2vw;
//         margin-bottom: 1vw;
//     }
//     @media only screen and (max-width: $mobile-width) {
//         font-size: 3vw;
//     }
// }

// .menu-container{
//     display: flex;
//     flex-direction: column;
//     // justify-content: center;
//     align-items: flex-start;
//     font-family: Kanit;
//     font-size: 1vw;
//     color: white;
//     font-weight: lighter;
//     .menu-topic{
//         font-weight: bold;
//         margin-top: 2vw;
//         margin-bottom: 1vw;
//     }
//     .menu-link{
//         cursor: pointer;
//         text-decoration: underline;
//         font-family: Kanit;
//         font-size: 1vw;
//         color: white;
//     }
//     @media only screen and (max-width: $mobile-width) {
//         font-size: 3vw;
//         .menu-link{
//             font-size: 3vw;
//         }
//     }
// }

// .contact-container{
//     display: flex;
//     flex-direction: column;
//     // justify-content: center;
//     align-items: flex-start;
//     font-family: Kanit;
//     font-size: 1vw;
//     color: white;
//     font-weight: lighter;
//     .contact-topic{
//         font-weight: bold;
//         margin-top: 2vw;
//         margin-bottom: 1vw;
//     }
//     .bold-contact{
//         font-weight: bold;
//     }
//     @media only screen and (max-width: $mobile-width) {
//         font-size: 3vw;
//     }
// }

