@import "../../utils/main.scss";

.top-navbar{
    height: 100%;
    // max-height: 10vh;
    :hover {
        color: inherit;
        text-decoration: none;
    }
}

.text-logo{
    display: flex;

    @media only screen and (max-width: $mobile-width) {
        display: none;
      }
}

.text-black{
    text-decoration: none;
    align-items: center;
    font-family: Kanit;
    color:black;
    // font-size: 1vw;
    @media only screen and (max-width: $mobile-width) {
        font-size: 1rem !important; 
    }
}

.text-blue{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: Kanit;
    color:#8CD8F9;
    // font-size: 1vw;
    :hover {
        color:#8CD8F9 !important;
    };
    @media only screen and (max-width: $mobile-width) {
        font-size: 1rem !important; 
    }
}

.text-maincolor{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: Kanit;
    color: $mainColor;
    // font-size: 0.8vw;
    :hover {
        color: $mainColor !important;
    }
}

.userImg{
    display: flex;

    @media only screen and (max-width: $mobile-width) {
        display: none;
    }
}
