@import "../../utils/main.scss";


.sidebar-card{
    display: flex;
    width: 18vw;
    height: 90vh;
    border-radius: 25px 0px 0px 25px;
}

.text-black{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: Kanit;
    color:black;
    font-size: 1.5vw;
}

.text-blue{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: Kanit;
    color:#8CD8F9;
    font-size: 1.5vw;
    :hover {
        color:#8CD8F9 !important;
    }
}

.text-maincolor{
    text-decoration: none;
    align-items: center;
    font-family: Kanit;
    color: $mainColor;
    font-size: 1.5vw;
    :hover {
        color: $mainColor !important;
    }
}