// @import "../../utils/main.scss";

// .third-container{
//     display: flex;
//     flex-direction: column;
//     // justify-content: space-around;
//     height: 100%;
//     // min-height: 90vh;
//     // align-items: center;
//     padding: 0 10vw;
//     background-repeat: no-repeat;
//     background-size: 100% 100%; 
//     background-position:center; 
//     @media only screen and (max-width: $mobile-width) {
//         padding: 0 4vw !important;
//     }
// }

// .third-topic{
//     font-family: Kanit;
//     font-size: 2vw;
//     // margin-bottom: 10vw;
//     @media only screen and (max-width: $mobile-width) {
//         font-size: 4vw;
//     }

//     .under-line{
//         text-decoration: underline#C81B0D;
//         text-underline-offset: 0.5vw;
//         text-decoration-thickness: 4px ;
//     }
//     @media only screen and (max-width: $mobile-width) {
//         .under-line{
//             text-decoration-thickness: 2px !important;
//         }
//     }
// }

// .third-img-container{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     height: 50vw;
//     .third-img-left{
//         width: 30vw;
//         padding-bottom: 10vw;
//     }
//     .third-img-right{
//         width: 30vw;
//         padding-top: 10vw;
//     }

//     @media only screen and (max-width: $mobile-width) {
//         flex-direction: column;
//         height: 90vw;
//         .third-img-left{
//             width: 30vw;
//             padding-bottom: 0;
//         }
//         .third-img-right{
//             width: 30vw;
//             padding-top: 0;
//         }
//     }
// }

