@import "../../utils/main.scss";

.square-input-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.label{
    display: inline;
    font-family: Kanit;
    font-size: 1.5vw;
    font-weight:lighter;
    padding-left: 2vw;
    transform: translateY(1vw);
    // background-color: white;
    @media only screen and (max-width: 990px) {
        font-size: 1rem !important;
        transform: translateY(0.8rem) !important;
    }
}

.spanwhite{
    border-radius: 5px;
    background-color: white;
}

.square-input{
    height: 3rem;
    border: 1.5px solid $mainColor;
    border-radius: 5px;
}