.login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    min-height: 90vh;
    align-items: center;
}

.card-form{
    border-radius: 10px
}

.homeImg{
    display: flex;
    max-height: 70vh;
    min-height: auto;
    
}

.bgfoot{
    position: fixed;
    width: 100%;
    top: 90%;
}