@import "../../utils/main.scss";


.form-register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0vw;
    height: 100%;
    width: 100%;
}

.head-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Kanit;
    font-size: 2vw;
}

.form-register{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    // font-size: 2vw;
}

.square-input-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.label{
    display: inline;
    font-family: Kanit;
    font-size: 1.5vw;
    font-weight:lighter;
    padding-left: 2vw;
    transform: translateY(1vw);
    // background-color: white;
}

.spanwhite{
    border-radius: 5px;
    background-color: white;
}

.square-input{
    height: 3rem;
    border: 1.5px solid $mainColor;
    border-radius: 5px;
}

p{
    color: #bf1650;
    margin: 0;
    font-family: Kanit;
    font-size: 1vw;
}
  
p::before {
    display: inline;
    content: "⚠ ";
}