// @import "../../utils/main.scss";

// .form-login-container{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding: 10vh 0vw;
//     height: 100%;
//     width: 100%;

//     @media only screen and (max-width: $mobile-width) {
//         padding:4vw;
//         // margin: 0 !important;
//     }
// }

// .head-form{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     font-family: Kanit;
//     font-size: 2vw;
//     @media only screen and (max-width: $mobile-width) {
//         font-size: 1.2rem !important;
//     }
// }

// .form-login{
//     display: flex;
//     flex-direction: column;
//     width: 80%;
//     height: 60%;

//     // font-size: 2vw;
// }

// .submit-login{
//     display: flex;
//     justify-content: end;
//     margin-top: 2vw;
//     @media only screen and (max-width: $mobile-width) {
//         justify-content: center;
//         margin-top: 6vw;
//     }
// }
// .button-submit-login{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: $mainColor;
//     border: none;
//     border-radius: 5px;
//     color: white;
//     padding: 0.4rem 2rem;
//     font-size: 1.2vw;
//     font-family: Kanit;
//     @media only screen and (max-width: $mobile-width) {
//         font-size: 1rem;
//         padding: 0.4rem 20vw;
//     }
// }